/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: red;
}

/* Common */
p,
h1,
h2,
h3,
h4,
h5,
h6 .nav-item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-item {
  text-decoration: none;
  border-bottom: 2px black transparent;
}
.nav-item:hover {
  border-bottom: 2px black solid;
}
/* Index.html */

button {
  width: 100%;
  margin: 0.25rem 0.5rem;
}
.mw-400 {
  max-width: 400px;
}

.container p {
  line-height: 1.6;
}

/* List */
.upper-roman {
  list-style-type: upper-roman;
}

/* Graphic */
@keyframes kf-size-bcg {
  from {
    background-color: lightskyblue;
    width: 0px;
    height: 0px;
  }
  to {
    background-color: yellow;
    width: 300px;
    height: 300px;
  }
}
.anim-size-bcg {
  height: 300px;
  width: 300px;
  animation-name: kf-size-bcg;
  animation-duration: 4s;
  background-color: yellow;
}
.expandable-list-item:hover .expandable-list-item-child {
  display: block;
}
.expandable-list-item-child {
  display: none;
}
.hoverable {
  width: 100px;
  height: 100px;
  background-color: blue;
  transition: height 3s, width 1.5s, background-color 2s;
}
.hoverable:hover {
  width: 250px;
  height: 250px;
  background-color: yellow;
}

/* Utils */
.container {
  padding: 0 2rem;
  width: 100%;
}
.mtb-30px {
  margin: 30px 0;
}
.p-10px {
  padding: 10px;
}
.w-100 {
  width: 100%;
}
.border-around {
  border: 2px black solid;
}
.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-align-center {
  align-items: center;
}
.flex-gap2px {
  gap: 2px;
}
.text-black {
  color: black;
}
.text-blue {
  color: blue;
}
.text-purple {
  color: purple;
}
.text-yellow {
  color: yellow;
}
.text-green {
  color: green;
}
